body
{
	margin: 10px;
	background-color: #802f2d;
}

img.ri
{
	position: absolute;
	max-width: 50%;
	top: 10%;
	left: 10%;
}

img.ri:empty
{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
  img.ri {
      max-width: 80%;
  }
}

@media screen and (orientation: landscape) {
  img.ri {
      max-height: 80%;
  }
}